<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=1600, initial-scale=1, maximum-scale=1">
      <title>Iungo Advanced Technologies</title>
      <!-- styles -->
      <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/css/main.css">
      <!-- javascripts -->
      <script src="/static/js/jquery-1.11.1.min.js"></script>
   </head>
   <body>
      <header>
         <div class="logo">
            <img src="/static/img/logo.png" alt="logo">
         </div>
      </header>
      <nav class="carousel">
         <div class="userProfile">
            <div id="user">
               <div class="imgtag">
                  {% if user.portfolio.profile_pic %}
                     <img src="/media/{{user.portfolio.profile_pic}}" alt="user">
                  {% else %}
                     <img src="/static/img/empty.png" alt="user">
                  {% endif %}
               </div>
               <div class="name">
                  <p>{{user.first_name}} {{user.last_name}}</p>
               </div>
            </div>
         </div>
         <div class="navItems">
            <div class="menuBtns">
               <ul>
                  <li><a  id="setting" href="#">Settings &nbsp; <i class="fa fa-cog" aria-hidden="true"></i></a></li>
                  <li><a href="#">Logout &nbsp; <i class="fa fa-power-off" aria-hidden="true"></i></a></li>
               </ul>
            </div>
         </div>
      </nav>
      <nav class="vertical-menu">
         <div id="sidebar-wrapper">
           <div id="btn-triangle-left"></div>
            <ul id="sidebar-nav">
               <li>
                  <a href="#">
                  <span class="imgs"><img src="/static/img/overview.svg" alt=""></span>
                  <span class="btnText">Overview</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span class="imgs"><img src="/static/img/appointments.svg" alt=""></span>
                  <span class="btnText">Appointments</span>
                  </a>
               </li>
               <li>
                  <a class="arrowBtn" href="#">
                  <span class="imgs"><img src="/static/img/iungocloud.svg" alt=""></span>
                  <span class="btnText">Iungo Cloud</span>
                  </a>
               </li>
               <li>
                  <a class="active" href="#">
                  <span class="imgs"><img src="/static/img/profilesettings.svg" alt=""></span>
                  <span class="btnText">Profile Settings</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span class="imgs"><img src="/static/img/feedbacks.svg" alt=""></span>
                  <span class="btnText">Feedbacks</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span class="imgs"><img src="/static/img/notification.svg" alt=""></span>
                  <span class="btnText">Notification</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <span class="imgs"><img src="/static/img/reports.svg" alt=""></span>
                  <span class="btnText">Reports</span>
                  </a>
               </li>
            </ul>
         </div>
      </nav>
      <aside class="mainSection">
         <form id="profile_form" class="mainForm" enctype="multipart/form-data" action="{% url 'profile' %}" method="POST" role="form">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{user.id}}">
            <div class="mrSelector">
               <p class="label">Prefix</p>
               {{form.prefix}}
               {{form.prefix.errors}}
            </div>
            {% if user.first_name %}
               <div class="mrName">
                  <label for="userName">Name<sup>*</sup></label>
                  <input id="userName" type="text" name="userName" value="{{user.first_name}} {{user.last_name}}" disabled >
                  <h6>Name cannot be changed after submitting once. Name, phone number, email id are the things needs permission to be changed.</h6>
               </div>
            {% else %}
               <div class="mrName">
                  <label for="userName">Name<sup>*</sup></label>
                  <input id="userName" type="text" name="userName" required >
                  <p>Name cannot be changed after submitting once. Name, phone number, email id are the things needs permission to be changed.</p>
               </div>
            {% endif %}
            <br style="clear: both;">
            {% if user.portfolio.gender == 'MALE'%}
               <div class="Gender">
                  <p>Gender<sup>*</sup></p>
                  <br>
                  <label for="male" class="radio-custom-label">Male</label>
               </div>
            {% elif user.portfolio.gender == 'FEMALE'%}
               <div class="Gender">
                  <p>Gender<sup>*</sup></p>
                  <br>
                  <label for="female" class="radio-custom-label">Female</label>
               </div>
            {% else %}
               <div class="Gender">
                  <p>Gender<sup>*</sup></p>
                  <br>
                  <input id="male" class="radio-custom" name="male" type="radio" >
                  <label for="male" class="radio-custom-label">Male</label>
                  <input id="female" class="radio-custom" name="female" type="radio" >
                  <label for="female" class="radio-custom-label">Female</label>
               </div>
            {% endif %}
            <div class="emailIDForm">
               <label for="id_email">Email-id<sup>*</sup></label><br>
               <input disabled="disabled" value="{{user.email}}">
            </div>
            <div class="phoneForm">
               <label class="contactLabel">Contact Number</label><br>
               <label class="label">Primary Number</label><br>
               <input disabled="disabled" value="{{user.username}}">
            </div>
            <div class="phoneForm">
               <label>Secondary Number</label><br>
               {{form.secondary_phone}}
               {{form.secondary_phone.errors}}
            </div>
            <div class="textareas">
               <p class="label">About Me/ Description</p>
               {{form.about_me}}
               {{form.about_me.errors}}
               <p style="float: right; font-size: 18px;">250 characters long</p>
            </div>
            <div class="qualifications">
               <p class="label">Qualifications<sup>*</sup> </p>
               <div class="mrSelector qualifiSector ">
                  {{form.qualification}}
                  {{form.qualification.errors}}
               </div>
            </div>
            <br style="clear: both;">
            <div class="experience">
               <p class="label">Experience(In years)<sup>*</sup> </p>
               <div class="mrSelector qualifiSector ">
                  {{form.experience}}
                  {{form.experience.errors}}
               </div>
            </div>
            <br style="clear: both;">
            <div class="budget">
               <p class="label">Budget(In Lacs)<sup>*</sup> </p>
               <div class="mrSelector qualifiSector ">
                  {{form.budget}}
                  {{form.budget.erors}}
               </div>
            </div>
            <br style="clear: both;">
            <div class="Upload">
               <p class="label">Image<sup>*</sup> </p>
               <div class="upload">
                  {{ form.profile_pic }}
                  {{ form.profile_pic.errors }}
               </div>
            </div>
            <br style="clear: both;">
            <div class="category">
               <p class="label">Category<sup>*</sup> </p>
               <div class="mrSelector qualifiSector">
                  {{ form.category }}
                  {{ form.category.errors }}
               </div>
            </div>
            <br style="clear: both;">
            <div class="sub_category">
               <p class="label">Sub Category<sup>*</sup> </p>
               <div class="mrSelector qualifiSector">
                  {{ form.sub_category }}
                  {{ form.sub_category.errors }}
               </div>
            </div>
            <div class="submitBtn">
               <input type="submit" value="Submit"/>
            </div>
            <br style="clear: both">
            <a class="upload_btn" href="/design_upload">Upload Designs and Projects</a>
         </form>
      </aside>

      <script type="text/javascript">

             $("#id_category").change(function () {
               var categoryId = $(this).val();
               console.log(categoryId)
               $.ajax({
                 url: '{% url 'load_sub_category' %}',
                 data: {
                   'category': categoryId
                 },
                 success: function (data) {
                   $("#id_sub_category").html(data);
                 }
               });

          });

       </script>




   </body>
</html>
