


<form action="/register" method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">
{% csrf_token %}
{% for field in form.visible_fields %}
<div class="form-group">


<label class="control-label col-sm-2" >{{ field.label_tag }} {% if field.field.required %}<span style="color:red;">*</span>{% endif %}</label>


<div class="col-sm-10">{{ field }}{% if field.help_text %} {{ field.help_text }} {% endif %}
    {% if field.errors %}<p style="color:red;">{{ field.errors|striptags }}</p>{% endif %}
</div>
</div>
{% endfor %}
<button id = "submit" class="btn vd_bg-green vd_white width-100" type="submit" value="submit">Submit</button>
</form>
